@model FniteApp.Models.Weapon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Weapon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeaponType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeaponType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RarityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RarityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DPS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DPS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FireRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FireRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MagazineSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MagazineSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReloadTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReloadTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StructureDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StructureDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BulletType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BulletType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaultedStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaultedStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
